.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div{
  overflow:hidden;
}
div.calculator{
  position:relative;
	width:360px;
	height:480px;
	margin:3% auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
	background: rgba(230,220,210,1);
	border-radius:60px;
	box-shadow:0px -100px 500px 80px rgba(255,255,255,0.2),
				0px -130px 800px 30px rgba(255,140,30,0.1),
				inset 0px -11px 30px rgba(55,45,35,0.6),
				inset 0px -7px 8px rgba(55,45,35,0.7),
				inset 0px -1px 1px rgba(255,255,255,0.4),
				inset 0px 20px 3px rgba(255,255,255,0.2),
				0px 17px 27px rgba(0,0,0,0.7),
				0px 4px 3px rgba(0,0,0,0.8),
				-2px -2px 2px rgba(0,0,0,0.5),
				inset 1px 1px 1px rgba(255,255,255,0.5),
				inset 0px 2px 2px rgba(0,0,0,0.2),
				inset 1px 0px 2px rgba(0,0,0,0.4),
				inset -1px 0px 2px rgba(0,0,0,0.4);
}
div.calculator div.numinput{
	position:relative;
	display:block;
	width:290px;
	height:43px;
	line-height:43px;
	margin:auto;
	top:30px;
	font-family:digital-7;
	font-size:28pt;
	text-align:right;
	padding-right:9px;
	box-sizing:border-box;
	background:rgba(206,206,182,0.7);
	border-radius:60px;
	border:1px solid rgba(255,255,255,0.7);
	box-shadow:inset 0px -3px 10px rgba(0,0,0,0.05),
				inset 1px 3px 9px rgba(0,0,0,0.3),
				inset 1px 1px 1px rgba(0,0,0,0.2),
				inset -1px -1px 1px rgba(0,0,0,0.1),
				inset 0px 2px 1px 2px rgba(0,0,0,0.1);
}

div.calculator div.buttongrid{
	float:left;
	height:400px;
	width:300px;
	margin:60px 20px 0px 30px;
}
div.calculator div.buttongrid button{
	position:relative;
	width:54px;
	height:54px;
	text-align:center;
	float:left;
	font-family:"geometry";
	font-size:23pt;
	color: rgba(0,0,0,0.65);
    text-shadow:1px 1px 2px rgba(255,255,255,1),
				0px 0 0 #000,
				0px 1px 1px rgba(255,255,255,1);
	margin:7px;
	background: rgba(240,230,220,1);
	border-radius:18px;
	border:1px solid;
	border-bottom-color:rgba(0,0,0,0.7);
	border-top-color:rgba(0,0,0,0.5);
	border-right-color:rgba(0,0,0,0.6);
	border-left-color:rgba(0,0,0,0.6);
	box-shadow:inset 0px -2px 3px 3px rgba(80,50,40,0.2),
				0px 2px 2px rgba(0,0,0,0.8),
				inset 0px -1px 1px rgba(255,255,255,0.5),
				inset 0px -2px 2px rgba(70,50,40,0.8),
				inset 0px -7px 2px rgba(90,50,40,0.3),
				0px 0px 6px 2px rgba(150,130,100,1),
				0px 0px 0px 5px rgba(255,255,255,0.5),
				0px 0px 6px 6px rgba(0,0,0,0.1),
				0px 2px 3px rgba(150,130,100,0.8),
				0px 4px 1px 1px rgba(255,255,255,0.7);
}

div.calculator div.buttongrid button.operations{
	margin-left:30px;
  background: rgba(255,215,30,1);
  text-shadow: 1px 1px 1px rgba(255,255,255,1), 0px 0 0 #692C01, 0px 1px 1px rgba(255,255,255,1);
}

div.calculator div.buttongrid button.commands{
	margin-left:30px;
  background: rgb(0, 149, 220);
  text-shadow: 1px 1px 1px rgba(255,255,255,1), 0px 0 0 #692C01, 0px 1px 1px rgba(255,255,255,1);
}

div.calculator div.buttongrid button:after{
	content: "";
    position:absolute;
	width:45px;
	height:50px;
	top:7px;
	left:4px;
	background:-webkit-linear-gradient(rgba(170,150,120,0.1), rgba(170,150,120,0.2));
	border-radius:15px;
}

div.calculator div.buttongrid button:active{
	top:3px;
	box-shadow:inset 0px -2px 3px 3px rgba(80,50,40,0.2),
				0px -1px 2px rgba(0,0,0,0.8),
				inset 0px -1px 1px rgba(255,255,255,0.5),
				inset 0px -2px 2px rgba(70,50,40,0.8),
				inset 0px -7px 2px rgba(90,50,40,0.3),
				0px -3px 6px 2px rgba(150,130,100,1),
				0px -3px 0px 5px rgba(255,255,255,0.5),
				0px -3px 6px 6px rgba(0,0,0,0.1),
				0px -1px 3px rgba(150,130,100,0.8),
				0px 1px 1px 1px rgba(255,255,255,0.7);
}

div.calculator div.buttongrid button:focus, div.calculator div.buttongrid button:hover{
	outline:none;
	color: rgba(255,120,0,0.6);
    text-shadow:1px 1px 2px rgba(255,255,255,1),
				0px 0 0 #000,
				0px 1px 1px rgba(255,255,255,1);
}
